
.charges-explanation {
    margin-top: 55px;
    margin-bottom: 60px;
}

.charges-explanation-heading {
    font-size: 25px;
    font-weight: 400;
    color: #333;
    margin-bottom: 70px;
    text-shadow: 0 0 0.6px currentColor;
}

.charges-explanation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.charges-explanation-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    letter-spacing: 0.6px;
    transform: scaleY(1.04);
}

.charges-explanation-item h3,
.charges-disclaimer h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 15px;
    text-shadow: 0 0 0.5px currentColor;
    opacity: 0.9;
    letter-spacing: 1px;
    
}

.charges-explanation-item p,
.charges-disclaimer p {
    font-size: 12px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.6;
    text-shadow: 0 0 0.2px currentColor;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 15px;
}

.charges-explanation-item p:last-child {
    margin-bottom: 0;
}

.charges-explanation-item ul {
    margin: 0;
    padding-left: 20px;
}

.charges-explanation-item li {
    font-size: 12px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.6;
    text-shadow: 0 0 0.2px currentColor;
    opacity: 0.8;
    margin-bottom: 10px;
}

.charges-explanation-item li:last-child {
    margin-bottom: 0;
}

.charges-link {
    color: #0267fd;
    text-decoration: none;
}

.charges-link:hover {
    color: #4a4a4a;
}

.charges-disclaimer h3{
    margin-top: 70px;  
    font-size: 16px;
    color: #333333;
    letter-spacing: 1px;
    transform: scaleY(1.04);
    opacity: 0.9;
    text-shadow: 0 0 0.5px currentColor;
    font-weight: 400;

}

.charges-disclaimer p {
    margin-bottom: 90px;
    font-size: 12px;
    letter-spacing: 0.5px;
    opacity: 0.9;
    line-height: 1.6;
    
}

@media (max-width: 768px) {
    .charges-explanation-grid {
        grid-template-columns: 1fr;
        row-gap: 45px;
    } 

    .charges-explanation {
        margin-top: 45px;
    }
}


